<%- include('./partials/head') %>
<main class="">

    <section class="">
        <h1 class="title_page">gedeelde lijsten:<%= list.title %></h1>
        <p class="hr_bottom_p">Hier kunt u zien welke lijsten u deelt samen met anderen </p>


    </section>
    <section>
        <h2>omschrijving</h2>
        <p class="hr_bottom_p"><%= list.description %></p>
        <ul class="ul-users_lijst">
            <% users.forEach(users => { %>
                <li><%= users.name %></li>
                <li><%= users.id %></li>

                <li class="users__li_lijst">
                    <% if (users.avatar) { %>
                        <img src="https://fdnd-agency.directus.app/assets/<%= users.avatar.id %>?width=600&height=400&fit=cover"
                             alt="House Image" width="<%= users.width %>"
                             height="<%= users.height %>" class="users__show_avatars">
                    <% } else { %>
                        <p>er is geen user avatar</p>
                    <% } %>
                </li>

            <% }) %>
    </section>

    <div class="div-grid-house-lists">



            <ol class="ol_names-of-houses">

                <!--                  todo  een before gebruiken voor het klikbaar maken van de gehele kaart zie code lesley-->
                <li>
                    <a href="/lijsten/<%= list.id %>" aria-label="ga naar deze lijst"></a>
                </li>
                <li class="names-of-houses__li">
                    <a
                            href="/huis/<%= list.id %>"
                            class="names-of-houses__link_go_to_list"><%= list.title %>
                    </a>
                </li>
                <li class=" names-of-houses__li">

                </li>
                <li class=" names-of-houses__li">
                    <a href="/lijsten/<%= list.id %>" class=""
                       aria-label="ga naar deze lijst">
                        <button type="button" class="names-of-houses__button">Bekijk lijst
                        </button>
                    </a>
                </li>


            </ol>
    </div>


</main>
<%- include('./partials/foot') %>