<%- include('./partials/head') %>
<%- include('./partials/navigation') %>

<main>
    <section class="houseInfo">
        <h1>Score pagina</h1>
        <p class="houseInfo__p">Hier kunt u een beoordeling geven over het huis of de score van anderen zien.
        </p>
        <ul>
            <li class="animationLink">
                <a href="#beoordeeling" class="link"> Beoordeel dit huis </a>
            </li>
            <li class="animationLink">
                <a href="#users" class="link">Bekijk score teamleden</a></li>

        </ul>
    </section>
    <section class="houseDetailsSection">
        <ul class="">
            <% if (house.poster_image) { %>
            <li>
                <picture>
                    <source srcset="https://fdnd-agency.directus.app/assets/<%= house.poster_image.id %>?width=600&height=400&fit=cover&format=webp"
                            type="image/webp">
                    <source srcset="https://fdnd-agency.directus.app/assets/<%= house.poster_image.id %>?width=600&height=400&fit=cover&format=avif"
                            type="image/avif"
                    >
                    <img src="https://fdnd-agency.directus.app/assets/<%= house.poster_image.id %>?width=600&height=400&fit=cover"
                         width="<%= house.poster_image.width %>"
                         height="<%= house.poster_image.height %>"
                         class="houseImage"
                         alt="image-house">
                    <% } %>
                </picture>
            </li>
            <li class="card__content animationLink">

                <a class="animationLink link" href="<%= house.id %>"><%= house.street %> <%= house.house_nr %>
                </a>
            </li>
            <li class="card__content priceHouse">€ <%- house.price.toLocaleString('nl-NL') %></li>
            <li class="card__content"><%- house.postal_code %> <%- house.city %></li>
            <li class="card__content">Oppervlakte • <%- house.m2 %> m²  </li>
            <li class="card__content">Kamers • <%- house.rooms %> </li>
            <li class="card__content"><%- house.agent %></li>


        </ul>
        <!--        <hr class="orangeLine">-->
    </section>


    <div class="formsRating ">
        <section class="formRatingItem__header" id="beoordeeling">
            <h2>Beoordeel dit huis</h2>
            <p class="">Geef een beoordeling tussen de 0 en 5 sterren of laat een notitie achter.</p>
        </section>

        <section class="formRatingItem formRatingItem__ratings">
            <h2>Beoordeel</h2>
            <form method="POST" action="/score/<%= house.id %>" class="scorefield">


                <!--         algemeen-->
                <fieldset class="fieldsetRating">
                    <legend class="titleRating">Algemeen</legend>
                    <input class="inputRating" id="algemeen1" name="algemeenNumber" type="radio" value="1">
                    <label aria-label="1 " for="algemeen1" class="labelRating"></label>

                    <input class="inputRating" id="algemeen2" name="algemeenNumber" type="radio" value="2">
                    <label aria-label="2 sterren" for="algemeen2" class="labelRating"></label>


                    <input class="inputRating" id="algemeen3" name="algemeenNumber" type="radio" value="3">
                    <label aria-label="3 sterren" for="algemeen3" class="labelRating"></label>


                    <input class="inputRating" id="algemeen4" name="algemeenNumber" type="radio" value="4">
                    <label aria-label="4 sterren" for="algemeen4" class="labelRating"></label>


                    <input class="inputRating" id="algeemn5" name="algemeenNumber" type="radio" value="5">
                    <label aria-label="5 sterren" for="algeemn5" class="labelRating"></label>
                </fieldset>

                <!--            keuken-->
                <fieldset class="fieldsetRating">
                    <legend class="titleRating">Keuken</legend>
                    <input class="inputRating" id="keuken1" name="keukenNumber" type="radio" value="1">
                    <label aria-label="1 " for="keuken1" class="labelRating"></label>


                    <input class="inputRating" id="keuken2" name="keukenNumber" type="radio" value="2">
                    <label aria-label="2 sterren" for="keuken2" class="labelRating"></label>


                    <input class="inputRating" id="keuken3" name="keukenNumber" type="radio" value="3 ">
                    <label aria-label="3 sterren" for="keuken3" class="labelRating"></label>


                    <input class="inputRating" id="keuken4" name="keukenNumber" type="radio" value="4">
                    <label aria-label="4 sterren" for="keuken4" class="labelRating"></label>


                    <input class="inputRating" id="keuken5" name="keukenNumber" type="radio" value="5">
                    <label aria-label="5 sterren" for="keuken5" class="labelRating"></label>
                </fieldset>

                <fieldset class="fieldsetRating">
                    <legend class="titleRating">Badkamer</legend>
                    <input class="inputRating" id="badkamer1" name="badkamerNumber" type="radio" value="1">
                    <label aria-label="1 " for="badkamer1" class="labelRating"></label>


                    <input class="inputRating" id="badkamer2" name="badkamerNumber" type="radio" value="2">
                    <label aria-label="2 sterren" for="badkamer2" class="labelRating"></label>


                    <input class="inputRating" id="badkamer3" name="badkamerNumber" type="radio" value="3 ">
                    <label aria-label="3 sterren" for="badkamer3" class="labelRating"></label>


                    <input class="inputRating" id="badkamer4" name="badkamerNumber" type="radio" value="4">
                    <label aria-label="4 sterren" for="badkamer4" class="labelRating"></label>


                    <input class="inputRating" id="badkamer5" name="badkamerNumber" type="radio" value="5">
                    <label aria-label="5 sterren" for="badkamer5" class="labelRating"></label>
                </fieldset>

                <fieldset class="fieldsetRating">
                    <legend class="titleRating">Tuin</legend>
                    <input class="inputRating" id="Tuin1" name="tuinNumber" type="radio" value="1">
                    <label aria-label="1 " for="Tuin1" class="labelRating"></label>


                    <input class="inputRating" id="Tuin2" name="tuinNumber" type="radio" value="2">
                    <label aria-label="2 sterren" for="Tuin2" class="labelRating"></label>


                    <input class="inputRating" id="Tuin3" name="tuinNumber" type="radio" value="3 ">
                    <label aria-label="3 sterren" for="Tuin3" class="labelRating"></label>


                    <input class="inputRating" id="Tuin4" name="tuinNumber" type="radio" value="4">
                    <label aria-label="4 sterren" for="Tuin4" class="labelRating"></label>


                    <input class="inputRating" id="Tuin5" name="tuinNumber" type="radio" value="5">
                    <label aria-label="5 sterren" for="Tuin5" class="labelRating"></label>
                </fieldset>
                <!--            todo hier moet een interactie komen dat de button van kleur veranderd-->
                <button type="submit" class="NotesForm__button">Opslaan</button>
            </form>
            <%- include('partials/succes_partial', {result: feedback}); -%>


        </section>
        <div class="notesScore">
            <section class="formRatingItem formRatingItem__Note">
                <h2 class="">Notities</h2>

                <form method="POST" action="/score/<%= house.id %>" class="notesForm">
                    <input type="hidden" value="<%= house.id %>">
                    <label for="bericht" aria-label="laat uw noitite achter">
                        <textarea id="note" name="note"
                                  placeholder="Voeg hier je persoonlijke notities toe, zoals een eerste indruk van het huis, belangrijke informatie zoals een energielabel of opmerkingen over de buurt."></textarea>
                    </label>
                    <button type="submit" class="NotesForm__button">Opslaan</button>

                </form>
                <p class="loading"></p>


                <!--        <p class="successtae">uw score is toegevoegd ✅</p>-->
            </section>
            <section class=" formRatingItem formRatingItem__NoteShow ">
                <h2 class="">Uw notitie:</h2>
                <%- include('partials/succes_partial', {result: feedback}); -%>
                <%- include('partials/ShowNotes', {feedback: feedback}); -%>
            </section>

        </div>


    </div>


    <!--    dit is de 2de met daarin de forms-->

    <section class="sectionUsers" id="users">
        <!--        <hr class="orangeLine">-->
        <h2>Bekijk score teamleden</h2>
        <p>Hier kunt u de score van uw teamleden zien.</p>

        <ul class="usersListScore__second">
            <% users.forEach(users => { %>

                <li class="usersListscore__li__second">
                    <% if (users.avatar) { %>

                        <picture>
                            <source srcset="https://fdnd-agency.directus.app/assets/<%= users.avatar.id %>?width=200&height=130&fit=cover&format=webp"
                                    type="image/webp">
                            <source srcset="https://fdnd-agency.directus.app/assets/<%= users.avatar.id %>?width=200&height=130&fit=cover&format=avif"
                                    type="image/avif"
                            >
                            <img src="https://fdnd-agency.directus.app/assets/<%= users.avatar.id %>?width=200&height=130&fit=cover"
                                 alt="House Image" width="<%= users.avatar.width %>" height="<%= users.avatar.width %>"
                                 class="userListScore__image">
                        </picture>

                    <% } else { %>
                        <p class="userListScore__image">Er is geen user avatar</p>
                    <% } %>

                    <!--                deze span meot hier staan als container dat alles mooi meebeweegt-->
                    <span class="userListScore__span"><%= users.name %></span>
                    <form method="POST" action="/score/<%= house.id %>" class="scorefield">


                        <!--         algemeen-->
                        <fieldset class="fieldsetRating__second">
                            <legend class="titleRating">Algemeen</legend>
                            <input class="inputRating" id="algemeen1" name="algemeenNumber" type="radio" value="1">
                            <label aria-label="1 " for="algemeen1" class="labelRating__second"></label>

                            <input class="inputRating" id="algemeen2" name="algemeenNumber" type="radio" value="2">
                            <label aria-label="2 sterren" for="algemeen2" class="labelRating__second"></label>


                            <input class="inputRating" id="algemeen3" name="algemeenNumber" type="radio" value="3">
                            <label aria-label="3 sterren" for="algemeen3" class="labelRating__second"></label>


                            <input class="inputRating" id="algemeen4" name="algemeenNumber" type="radio" value="4">
                            <label aria-label="4 sterren" for="algemeen4" class="labelRating__gray"></label>


                            <input class="inputRating" id="algeemn5" name="algemeenNumber" type="radio" value="5">
                            <label aria-label="5 sterren" for="algeemn5" class="labelRating__gray"></label>
                        </fieldset>

                        <!--            keuken-->
                        <fieldset class="fieldsetRating__second">
                            <legend class="titleRating">Keuken</legend>
                            <input class="inputRating" id="keuken1" name="keukenNumber" type="radio" value="1">
                            <label aria-label="1 " for="keuken1" class="labelRating__second"></label>


                            <input class="inputRating" id="keuken2" name="keukenNumber" type="radio" value="2">
                            <label aria-label="2 sterren" for="keuken2" class="labelRating__second"></label>


                            <input class="inputRating" id="keuken3" name="keukenNumber" type="radio" value="3 ">
                            <label aria-label="3 sterren" for="keuken3" class="labelRating__gray"></label>


                            <input class="inputRating" id="keuken4" name="keukenNumber" type="radio" value="4">
                            <label aria-label="4 sterren" for="keuken4" class="labelRating__gray"></label>


                            <input class="inputRating" id="keuken5" name="keukenNumber" type="radio" value="5">
                            <label aria-label="5 sterren" for="keuken5" class="labelRating__gray"></label>
                        </fieldset>

                        <fieldset class="fieldsetRating__second">
                            <legend class="titleRating">Badkamer</legend>
                            <input class="inputRating" id="badkamer1" name="badkamerNumber" type="radio" value="1">
                            <label aria-label="1 " for="badkamer1" class="labelRating__second"></label>


                            <input class="inputRating" id="badkamer2" name="badkamerNumber" type="radio" value="2">
                            <label aria-label="2 sterren" for="badkamer2" class="labelRating__second"></label>


                            <input class="inputRating" id="badkamer3" name="badkamerNumber" type="radio" value="3 ">
                            <label aria-label="3 sterren" for="badkamer3" class="labelRating__second"></label>


                            <input class="inputRating" id="badkamer4" name="badkamerNumber" type="radio" value="4">
                            <label aria-label="4 sterren" for="badkamer4" class="labelRating__second"></label>


                            <input class="inputRating" id="badkamer5" name="badkamerNumber" type="radio" value="5">
                            <label aria-label="5 sterren" for="badkamer5" class="labelRating__gray"></label>
                        </fieldset>

                        <fieldset class="fieldsetRating__second">
                            <legend class="titleRating">Tuin</legend>
                            <input class="inputRating" id="Tuin1" name="tuinNumber" type="radio" value="1">
                            <label aria-label="1 " for="Tuin1" class="labelRating__second"></label>


                            <input class="inputRating" id="Tuin2" name="tuinNumber" type="radio" value="2">
                            <label aria-label="2 sterren" for="Tuin2" class="labelRating__second"></label>


                            <input class="inputRating" id="Tuin3" name="tuinNumber" type="radio" value="3 ">
                            <label aria-label="3 sterren" for="Tuin3" class="labelRating__second"></label>


                            <input class="inputRating" id="Tuin4" name="tuinNumber" type="radio" value="4">
                            <label aria-label="4 sterren" for="Tuin4" class="labelRating__second"></label>


                            <input class="inputRating" id="Tuin5" name="tuinNumber" type="radio" value="5">
                            <label aria-label="5 sterren" for="Tuin5" class="labelRating__second"></label>
                        </fieldset>
                    </form>
                </li>

            <% }) %>

        </ul>

    </section>


</main>