<%- include('./partials/head') %>
<%- include('./partials/navigation') %>


<section class="houseInfo">
    <h1>score pagina</h1>
    <p class="houseInfo">hier kunt u een score geven over het huis en een eigen score toevoegen en de score van uw teamleden zien
        ga naar <a href="#users">score teamleden</a>
    </p>
    <hr class="orangeLine">
    <ul class="">
        <% if (house.poster_image) { %>
        <li>
            <picture>
                <source srcset="https://fdnd-agency.directus.app/assets/<%= house.poster_image.id %>?width=200&height=200&fit=cover&format=webp"
                        type="image/webp">
                <source srcset="https://fdnd-agency.directus.app/assets/<%= house.poster_image.id %>?width=200&height=200&fit=cover&format=avif"
                        type="image/avif"
                >
                <img src="https://fdnd-agency.directus.app/assets/<%= house.poster_image.id %>?width=200&height=200&fit=cover"
                     width="<%= house.poster_image.width %>"
                     height="<%= house.poster_image.height %>"
                     class="house_details_img__image"
                     alt="image-house">
                <% } %>
            </picture>
        </li>
        <li class=""><%= house.street %> <%= house.house_nr %> </li>
        <li class=""><%= house.city %> <%= house.postal_code %></li>
        <li class="">€<%= new Intl.NumberFormat("de-DE").format(house.price) %></li>


    </ul>
    <hr class="orangeLine">
</section>


<div class="formsRating ">


    <section class="formRatingItem">


        <h2>beoordeling</h2>
        <p>geef een beoordeling op bestaande of nieuwe beoordelingen</p>
        <form method="POST" action="/score/<%= house.id %>" class="scorefield">

            <!--                inputfields niet aanpassen vanwege de client side javascript-->


            <label for="algemeen" class="form_inputfields__label-inputfield"><span>algemeen:</span>
                <input class="input_numbers" type="number" id="algemeen" name="algemeenNumber" value=""
                       placeholder="0">
            </label>
            <label for="keuken" class="form_inputfields__label-inputfield"><span>keuken:</span>
                <input class="input_numbers" type="number" id="keuken" name="keukenNumber" value="" placeholder="0">
            </label>
            <label for="Badkamer" class="form_inputfields__label-inputfield"><span>Badkamer:</span>
                <input class="input_numbers" type="number" id="Badkamer" name="badkamerNumber" value=""
                       placeholder="0">
            </label>
            <label for="tuin" class="form_inputfields__label-inputfield"><span>tuin:</span>
                <input class="input_numbers" type="number" id="tuin" name="tuinNumber" value="" placeholder="0 ">
            </label>
            <label for="new" class="form_inputfields__label-inputfield"><span>nieuwe naam:</span>
                <input class="input_numbers" type="text" id="tuin" name="new" value="" placeholder=" ">
            </label>
            <label for="new_score"
                   class="form_inputfields__label-inputfield"><span>geeef een cijfer op:</span>
                <input class="input_numbers" type="number" id="tuin" name="new_score" value="" placeholder="0">
            </label>
            <button type="submit" class="savebutton">submit</button>
            <!--                <div class="loader hide_loader"></div>-->

        </form>



        <p class="loading-state"></p>
    </section>
    <div class=" formRatingItem">
        <!--             this ul must be here becuase it has other css than the ul of the partial-->
        <section class="formRatingItem">
            <h2>Ratings:</h2>
            <ul>
                <li>keuken:<%= rating.kitchen %></li>
                <li>badkamer:<%= rating.bathroom %></li>
                <li>algemeneem:<%= rating.general %></li>
                <li>tuin:<%= rating.garden %></li>
            </ul>

        </section>
        <ul class="showscore">
        </ul>

    </div>

    <section class=" formRatingItem">
        <h2 class="">Notities</h2>
        <p>Hier kunt u een notitie achterlaten.</p>

        <form method="POST" action="/score/<%= house.id %>" class="notesForm">
            <input type="hidden" value="<%= house.id %>">
            <label for="bericht" aria-label="laat uw noitite achter">
                <textarea id="note" name="note"></textarea>
            </label>
            <button type="submit" class="savebutton">Opslaan</button>

        </form>

    </section>



    <section class=" formRatingItem ">
        <h2>notitie</h2>
        <%- include('partials/showNotes', {result: house}); -%>

    </section>
    <section class="show_notes">

    </section>





</div>

<section class="sectionUsers" id="users">
    <hr class="orangeLine">
    <h2>users</h2>


</section>
<ul class="usersList">
    <% users.forEach(users => { %>

        <li class="usersScore">
            <% if (users.avatar) { %>
                <img src="https://fdnd-agency.directus.app/assets/<%= users.avatar.id %>?width=600&height=400&fit=cover"
                     alt="House Image" width="<%= users.width %>"
                     height="<%= users.height %>" class="users__avatars">

            <% } else { %>
                <p>er is geen user avatar</p>
            <% } %>
            <span class="username"><%= users.name %></span>
            <div class="score_div">
                <span class="score">score</span>
                <span>keuken: <%= rating.kitchen %></span>
                <span>badkamer: <%= rating.bathroom %></span>
                <span>algemeen: <%= rating.general %></span>
                <span>tuin: <%= rating.garden %></span>
            </div>

        </li>

    <% }) %>

</ul>




<!--todo de sterren werken niet als je ze x5 hebt-->
<form action="/score/<%= house.id %>" method="post" class="ratingsFavorieten">
    <input type="hidden" name="id" value="<%- house.id %>" />general
    <input type="radio" id="1star" name="stars" value="1">
    <label for="1star"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <!-- Outer path for star outline -->
            <path fill="none" stroke="var(--ci-primary-color, currentColor)" stroke-width="32" d="M494,198.671a40.536,40.536,0,0,0-32.174-27.592L345.917,152.242,292.185,47.828a40.7,40.7,0,0,0-72.37,0L166.083,152.242,50.176,171.079a40.7,40.7,0,0,0-22.364,68.827l82.7,83.368-17.9,116.055a40.672,40.672,0,0,0,58.548,42.538L256,428.977l104.843,52.89a40.69,40.69,0,0,0,58.548-42.538l-17.9-116.055,82.7-83.368A40.538,40.538,0,0,0,494,198.671Z"/>
            <!-- Inner path for star fill -->
            <path fill="var(--ci-secondary-color, currentColor)" d="M461.469,217.37,367.4,312.2l20.364,132.01a8.671,8.671,0,0,1-12.509,9.088L256,393.136,136.744,453.3a8.671,8.671,0,0,1-12.509-9.088L144.6,312.2,50.531,217.37a8.7,8.7,0,0,1,4.778-14.706L187.15,181.238,248.269,62.471a8.694,8.694,0,0,1,15.462,0L324.85,181.238l131.841,21.426A8.7,8.7,0,0,1,461.469,217.37Z"/>
        </svg></label>

    <input type="radio" id="2star" name="stars" value="2" checked>
    <label for="2star"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <!-- Outer path for star outline -->
            <path fill="none" stroke="var(--ci-primary-color, currentColor)" stroke-width="32" d="M494,198.671a40.536,40.536,0,0,0-32.174-27.592L345.917,152.242,292.185,47.828a40.7,40.7,0,0,0-72.37,0L166.083,152.242,50.176,171.079a40.7,40.7,0,0,0-22.364,68.827l82.7,83.368-17.9,116.055a40.672,40.672,0,0,0,58.548,42.538L256,428.977l104.843,52.89a40.69,40.69,0,0,0,58.548-42.538l-17.9-116.055,82.7-83.368A40.538,40.538,0,0,0,494,198.671Z"/>
            <!-- Inner path for star fill -->
            <path fill="var(--ci-secondary-color, currentColor)" d="M461.469,217.37,367.4,312.2l20.364,132.01a8.671,8.671,0,0,1-12.509,9.088L256,393.136,136.744,453.3a8.671,8.671,0,0,1-12.509-9.088L144.6,312.2,50.531,217.37a8.7,8.7,0,0,1,4.778-14.706L187.15,181.238,248.269,62.471a8.694,8.694,0,0,1,15.462,0L324.85,181.238l131.841,21.426A8.7,8.7,0,0,1,461.469,217.37Z"/>
        </svg></label>

    <input type="radio" id="3star" name="stars" value="3">
    <label for="3star"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <!-- Outer path for star outline -->
            <path fill="none" stroke="var(--ci-primary-color, currentColor)" stroke-width="32" d="M494,198.671a40.536,40.536,0,0,0-32.174-27.592L345.917,152.242,292.185,47.828a40.7,40.7,0,0,0-72.37,0L166.083,152.242,50.176,171.079a40.7,40.7,0,0,0-22.364,68.827l82.7,83.368-17.9,116.055a40.672,40.672,0,0,0,58.548,42.538L256,428.977l104.843,52.89a40.69,40.69,0,0,0,58.548-42.538l-17.9-116.055,82.7-83.368A40.538,40.538,0,0,0,494,198.671Z"/>
            <!-- Inner path for star fill -->
            <path fill="var(--ci-secondary-color, currentColor)" d="M461.469,217.37,367.4,312.2l20.364,132.01a8.671,8.671,0,0,1-12.509,9.088L256,393.136,136.744,453.3a8.671,8.671,0,0,1-12.509-9.088L144.6,312.2,50.531,217.37a8.7,8.7,0,0,1,4.778-14.706L187.15,181.238,248.269,62.471a8.694,8.694,0,0,1,15.462,0L324.85,181.238l131.841,21.426A8.7,8.7,0,0,1,461.469,217.37Z"/>
        </svg></label>

    <input type="radio" id="4star" name="stars" value="4">
    <label for="4star"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <!-- Outer path for star outline -->
            <path fill="none" stroke="var(--ci-primary-color, currentColor)" stroke-width="32" d="M494,198.671a40.536,40.536,0,0,0-32.174-27.592L345.917,152.242,292.185,47.828a40.7,40.7,0,0,0-72.37,0L166.083,152.242,50.176,171.079a40.7,40.7,0,0,0-22.364,68.827l82.7,83.368-17.9,116.055a40.672,40.672,0,0,0,58.548,42.538L256,428.977l104.843,52.89a40.69,40.69,0,0,0,58.548-42.538l-17.9-116.055,82.7-83.368A40.538,40.538,0,0,0,494,198.671Z"/>
            <!-- Inner path for star fill -->
            <path fill="var(--ci-secondary-color, currentColor)" d="M461.469,217.37,367.4,312.2l20.364,132.01a8.671,8.671,0,0,1-12.509,9.088L256,393.136,136.744,453.3a8.671,8.671,0,0,1-12.509-9.088L144.6,312.2,50.531,217.37a8.7,8.7,0,0,1,4.778-14.706L187.15,181.238,248.269,62.471a8.694,8.694,0,0,1,15.462,0L324.85,181.238l131.841,21.426A8.7,8.7,0,0,1,461.469,217.37Z"/>
        </svg></label>

    <input type="radio" id="5star" name="stars" value="5">
    <label for="5star"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <!-- Outer path for star outline -->
            <path fill="none" stroke="var(--ci-primary-color, currentColor)" stroke-width="32" d="M494,198.671a40.536,40.536,0,0,0-32.174-27.592L345.917,152.242,292.185,47.828a40.7,40.7,0,0,0-72.37,0L166.083,152.242,50.176,171.079a40.7,40.7,0,0,0-22.364,68.827l82.7,83.368-17.9,116.055a40.672,40.672,0,0,0,58.548,42.538L256,428.977l104.843,52.89a40.69,40.69,0,0,0,58.548-42.538l-17.9-116.055,82.7-83.368A40.538,40.538,0,0,0,494,198.671Z"/>
            <!-- Inner path for star fill -->
            <path fill="var(--ci-secondary-color, currentColor)" d="M461.469,217.37,367.4,312.2l20.364,132.01a8.671,8.671,0,0,1-12.509,9.088L256,393.136,136.744,453.3a8.671,8.671,0,0,1-12.509-9.088L144.6,312.2,50.531,217.37a8.7,8.7,0,0,1,4.778-14.706L187.15,181.238,248.269,62.471a8.694,8.694,0,0,1,15.462,0L324.85,181.238l131.841,21.426A8.7,8.7,0,0,1,461.469,217.37Z"/>
        </svg></label>

    <!--    todo hier werken de sterren niet als het maar op 1 form werkt dan zelf sterren aanmaken of terugvallen inputfields-->
  <br>
    <input type="hidden" name="id" value="<%- house.id %>" />keuken
    <input type="radio" id="1star" name="stars" value="1">
    <label for="1star"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <!-- Outer path for star outline -->
            <path fill="none" stroke="var(--ci-primary-color, currentColor)" stroke-width="32" d="M494,198.671a40.536,40.536,0,0,0-32.174-27.592L345.917,152.242,292.185,47.828a40.7,40.7,0,0,0-72.37,0L166.083,152.242,50.176,171.079a40.7,40.7,0,0,0-22.364,68.827l82.7,83.368-17.9,116.055a40.672,40.672,0,0,0,58.548,42.538L256,428.977l104.843,52.89a40.69,40.69,0,0,0,58.548-42.538l-17.9-116.055,82.7-83.368A40.538,40.538,0,0,0,494,198.671Z"/>
            <!-- Inner path for star fill -->
            <path fill="var(--ci-secondary-color, currentColor)" d="M461.469,217.37,367.4,312.2l20.364,132.01a8.671,8.671,0,0,1-12.509,9.088L256,393.136,136.744,453.3a8.671,8.671,0,0,1-12.509-9.088L144.6,312.2,50.531,217.37a8.7,8.7,0,0,1,4.778-14.706L187.15,181.238,248.269,62.471a8.694,8.694,0,0,1,15.462,0L324.85,181.238l131.841,21.426A8.7,8.7,0,0,1,461.469,217.37Z"/>
        </svg></label>

    <input type="radio" id="2star" name="stars" value="2" checked>
    <label for="2star"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <!-- Outer path for star outline -->
            <path fill="none" stroke="var(--ci-primary-color, currentColor)" stroke-width="32" d="M494,198.671a40.536,40.536,0,0,0-32.174-27.592L345.917,152.242,292.185,47.828a40.7,40.7,0,0,0-72.37,0L166.083,152.242,50.176,171.079a40.7,40.7,0,0,0-22.364,68.827l82.7,83.368-17.9,116.055a40.672,40.672,0,0,0,58.548,42.538L256,428.977l104.843,52.89a40.69,40.69,0,0,0,58.548-42.538l-17.9-116.055,82.7-83.368A40.538,40.538,0,0,0,494,198.671Z"/>
            <!-- Inner path for star fill -->
            <path fill="var(--ci-secondary-color, currentColor)" d="M461.469,217.37,367.4,312.2l20.364,132.01a8.671,8.671,0,0,1-12.509,9.088L256,393.136,136.744,453.3a8.671,8.671,0,0,1-12.509-9.088L144.6,312.2,50.531,217.37a8.7,8.7,0,0,1,4.778-14.706L187.15,181.238,248.269,62.471a8.694,8.694,0,0,1,15.462,0L324.85,181.238l131.841,21.426A8.7,8.7,0,0,1,461.469,217.37Z"/>
        </svg></label>

    <input type="radio" id="3star" name="stars" value="3">
    <label for="3star"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <!-- Outer path for star outline -->
            <path fill="none" stroke="var(--ci-primary-color, currentColor)" stroke-width="32" d="M494,198.671a40.536,40.536,0,0,0-32.174-27.592L345.917,152.242,292.185,47.828a40.7,40.7,0,0,0-72.37,0L166.083,152.242,50.176,171.079a40.7,40.7,0,0,0-22.364,68.827l82.7,83.368-17.9,116.055a40.672,40.672,0,0,0,58.548,42.538L256,428.977l104.843,52.89a40.69,40.69,0,0,0,58.548-42.538l-17.9-116.055,82.7-83.368A40.538,40.538,0,0,0,494,198.671Z"/>
            <!-- Inner path for star fill -->
            <path fill="var(--ci-secondary-color, currentColor)" d="M461.469,217.37,367.4,312.2l20.364,132.01a8.671,8.671,0,0,1-12.509,9.088L256,393.136,136.744,453.3a8.671,8.671,0,0,1-12.509-9.088L144.6,312.2,50.531,217.37a8.7,8.7,0,0,1,4.778-14.706L187.15,181.238,248.269,62.471a8.694,8.694,0,0,1,15.462,0L324.85,181.238l131.841,21.426A8.7,8.7,0,0,1,461.469,217.37Z"/>
        </svg></label>

    <input type="radio" id="4star" name="stars" value="4">
    <label for="4star"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <!-- Outer path for star outline -->
            <path fill="none" stroke="var(--ci-primary-color, currentColor)" stroke-width="32" d="M494,198.671a40.536,40.536,0,0,0-32.174-27.592L345.917,152.242,292.185,47.828a40.7,40.7,0,0,0-72.37,0L166.083,152.242,50.176,171.079a40.7,40.7,0,0,0-22.364,68.827l82.7,83.368-17.9,116.055a40.672,40.672,0,0,0,58.548,42.538L256,428.977l104.843,52.89a40.69,40.69,0,0,0,58.548-42.538l-17.9-116.055,82.7-83.368A40.538,40.538,0,0,0,494,198.671Z"/>
            <!-- Inner path for star fill -->
            <path fill="var(--ci-secondary-color, currentColor)" d="M461.469,217.37,367.4,312.2l20.364,132.01a8.671,8.671,0,0,1-12.509,9.088L256,393.136,136.744,453.3a8.671,8.671,0,0,1-12.509-9.088L144.6,312.2,50.531,217.37a8.7,8.7,0,0,1,4.778-14.706L187.15,181.238,248.269,62.471a8.694,8.694,0,0,1,15.462,0L324.85,181.238l131.841,21.426A8.7,8.7,0,0,1,461.469,217.37Z"/>
        </svg></label>

    <input type="radio" id="5star" name="stars" value="5">
    <label for="5star"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <!-- Outer path for star outline -->
            <path fill="none" stroke="var(--ci-primary-color, currentColor)" stroke-width="32" d="M494,198.671a40.536,40.536,0,0,0-32.174-27.592L345.917,152.242,292.185,47.828a40.7,40.7,0,0,0-72.37,0L166.083,152.242,50.176,171.079a40.7,40.7,0,0,0-22.364,68.827l82.7,83.368-17.9,116.055a40.672,40.672,0,0,0,58.548,42.538L256,428.977l104.843,52.89a40.69,40.69,0,0,0,58.548-42.538l-17.9-116.055,82.7-83.368A40.538,40.538,0,0,0,494,198.671Z"/>
            <!-- Inner path for star fill -->
            <path fill="var(--ci-secondary-color, currentColor)" d="M461.469,217.37,367.4,312.2l20.364,132.01a8.671,8.671,0,0,1-12.509,9.088L256,393.136,136.744,453.3a8.671,8.671,0,0,1-12.509-9.088L144.6,312.2,50.531,217.37a8.7,8.7,0,0,1,4.778-14.706L187.15,181.238,248.269,62.471a8.694,8.694,0,0,1,15.462,0L324.85,181.238l131.841,21.426A8.7,8.7,0,0,1,461.469,217.37Z"/>
        </svg></label>

    <input type="submit" value="Rate" />

    <a href="">Bekijk hier de overzicht van de score </a>
</form>

<br> dit is overgenomen van justus
<form action="/score/<%= house.id %>" method="post" class="ratingsFavorieten">
    <input type="hidden" name="id" value="<%- house.id %>" />

    <label>
        1
        <input type="radio" name="algemeenNumber" value="1" />
    </label>
    <label>
        2
        <input type="radio" name="algemeenNumber" value="2" />
    </label>
    <label>
        3
        <input type="radio" name="algemeenNumber" value="3" />
    </label>
    <label>

        <input type="radio" name="algemeenNumber" value="4" />
    </label>
    <label>

        <input type="radio" name="algemeenNumber" value="5" />
    </label>

    <input type="submit" value="Rate" />
</form>

<section class="sectionScore">
    <ul class="sectionScore">
        <% for (const obj of feedback) { %>
            <li>House ID: <%= obj.house %></li>
            <% if (obj.rating) { %>
                <li>Kitchen : <%= obj.rating.kitchen %></li>
                <li>general : <%= obj.rating.general %></li>
                <li>badkamer: <%= obj.rating.bathroom %></li>
                <li>tuin: <%= obj.rating.garden %></li>
            <% } else { %>
                <p>er is geens core ingevoerd</p>
            <% } %>
        <% } %>
    </ul>
</section>
