<%- include('./partials/head') %>
<%- include('./partials/navigation') %>


<section class="houseInfo">
    <h1>score pagina</h1>
    <p>ik hier ku een score geven over het huis en een eigen score toevoegen en de score van uw teamleden zien.<br>
    ga naar <a href="#users">score teamleden</a>
    </p>
    <hr class="orangeLine">
    <ul class="ul_house_details">
        <% if (house.poster_image) { %>
        <li>
            <picture>
                <source srcset="https://fdnd-agency.directus.app/assets/<%= house.poster_image.id %>?width=200&height=200&fit=cover&format=webp"
                        type="image/webp">
                <source srcset="https://fdnd-agency.directus.app/assets/<%= house.poster_image.id %>?width=200&height=200&fit=cover&format=avif"
                        type="image/avif"
                >
                <img src="https://fdnd-agency.directus.app/assets/<%= house.poster_image.id %>?width=200&height=200&fit=cover"
                     width="<%= house.poster_image.width %>"
                     height="<%= house.poster_image.height %>"
                     class="house_details_img__image"
                     alt="image-house">
                <% } %>
            </picture>
        </li>
        <li class="house_details__li"><%= house.street %> <%= house.house_nr %> </li>
        <li class=""><%= house.city %> <%= house.postal_code %></li>
        <li class="house_details_li__price_house">€<%= new Intl.NumberFormat("de-DE").format(house.price) %></li>


    </ul>
    <hr class="orangeLine">
</section>


<div class="formsRating ">


    <section class="formRatingItem">


        <h2>beoordeling</h2>
        <p>geef een beoordeling op bestaande of nieuwe beoordelingen</p>
        <form method="POST" action="/score/<%= house.id %>" class="score_field_numbers__form_inputfields">

            <!--                inputfields niet aanpassen vanwege de client side javascript-->


            <label for="algemeen" class="form_inputfields__label-inputfield"><span>algemeen:</span>
                <input class="input_numbers" type="number" id="algemeen" name="algemeenNumber" value=""
                       placeholder="0">
            </label>
            <label for="keuken" class="form_inputfields__label-inputfield"><span>keuken:</span>
                <input class="input_numbers" type="number" id="keuken" name="keukenNumber" value="" placeholder="0">
            </label>
            <label for="Badkamer" class="form_inputfields__label-inputfield"><span>Badkamer:</span>
                <input class="input_numbers" type="number" id="Badkamer" name="badkamerNumber" value=""
                       placeholder="0">
            </label>
            <label for="tuin" class="form_inputfields__label-inputfield"><span>tuin:</span>
                <input class="input_numbers" type="number" id="tuin" name="tuinNumber" value="" placeholder="0 ">
            </label>
            <label for="new" class="form_inputfields__label-inputfield"><span>nieuwe naam:</span>
                <input class="input_numbers" type="text" id="tuin" name="new" value="" placeholder=" ">
            </label>
            <label for="new_score"
                   class="form_inputfields__label-inputfield"><span>geeef een cijfer op:</span>
                <input class="input_numbers" type="number" id="tuin" name="new_score" value="" placeholder="0">
            </label>
            <button type="submit" class="section-give_notese__buton">Opslaan</button>
            <!--                <div class="loader hide_loader"></div>-->

        </form>

        <p class="loading-state"></p>
    </section>
    <div class=" div_show_score_house__output_number formRatingItem">
        <!--             this ul must be here becuase it has other css than the ul of the partial-->
        <section class="formRatingItem">
            <h2>Ratings:</h2>
            <ul>
                <li>keuken:<%= rating.keuken %></li>
                <li>badkamer:<%= rating.badkmaer %></li>
                <li>algemeneem:<%= rating.algemeen %></li>
                <li>tuin:<%= rating.tuin %></li>
            </ul>

        </section>
        <ul class="show_user_score__ul">
        </ul>

    </div>

    <section class="section-give_notes formRatingItem">
        <h2 class="">Notities</h2>
        <p>Hier kunt u een notitie achterlaten.</p>

        <form method="POST" action="/test/<%= house.id %>" class="section-give_notes__form">
            <input type="hidden" value="<%= house.id %>">
            <label for="bericht" aria-label="laat uw noitite achter">
                <textarea id="note" name="note"></textarea>
            </label>
            <button type="submit" class="section-give_notese__buton">Opslaan</button>

        </form>

    </section>



    <section class=" formRatingItem">
        <h2>notitie</h2>
        <%- include('partials/showNotes', {result: house}); -%>
        <p><%= notities %></p>
    </section>





</div>

<section class="sectionUsers" id="users">
    <hr class="orangeLine">
    <h2>users</h2>


</section>
<ul class="usersList">
    <% users.forEach(users => { %>

        <li class="usersScore">
            <% if (users.avatar) { %>
                <img src="https://fdnd-agency.directus.app/assets/<%= users.avatar.id %>?width=600&height=400&fit=cover"
                     alt="House Image" width="<%= users.width %>"
                     height="<%= users.height %>" class="users__avatars">

            <% } else { %>
                <p>er is geen user avatar</p>
            <% } %>
            <span class="username"><%= users.name %></span>
            <div class="score_div">
                <span class="score">score</span>
                <span>keuken: <%= rating.keuken %></span>
                <span>badkamer: <%= rating.badkmaer %></span>
                <span>algemeen: <%= rating.algemeen %></span>
                <span>tuin: <%= rating.tuin %></span>
            </div>

        </li>

    <% }) %>

</ul>

<section>
    <% for (const obj of feedback) { %>
        <h2>House ID: <%= obj.house %></h2>
        <% if (obj.rating && obj.rating.kitchen) { %>  <p>Kitchen Rating: <%= obj.rating.kitchen %></p>
        <% } else { %>
            <p>Kitchen Rating: Not available</p>
        <% } %>
        <%- JSON.stringify(obj.rating) %>  <% if (obj.note) { %>
            <p>Notities: <%= obj.note %></p>
        <% } %>
    <% } %>


</section>