


<h1>testpagina</h1>
<section class="houseInfo">
    <ul class="ul_house_details">
        <% if (house.poster_image) { %>
        <li>
            <picture>
                <source srcset="https://fdnd-agency.directus.app/assets/<%= house.poster_image.id %>?width=600&height=400&fit=cover&format=webp"
                        type="image/webp">
                <source srcset="https://fdnd-agency.directus.app/assets/<%= house.poster_image.id %>?width=600&height=400&fit=cover&format=avif"
                        type="image/avif"
                >
                <img src="https://fdnd-agency.directus.app/assets/<%= house.poster_image.id %>?width=600&height=400&fit=cover"
                     width="<%= house.poster_image.width %>"
                     height="<%= house.poster_image.height %>"
                     class="house_details_img__image"
                     alt="image-house">
                <% } %>
            </picture>
        </li>
        <li class="house_details__li"><%= house.street %> <%= house.house_nr %> </li>
        <li class=""><%= house.city %> <%= house.postal_code %></li>
        <li class="house_details_li__price_house">€<%= new Intl.NumberFormat("de-DE").format(house.price) %></li>

    </ul>
</section>

<section class="formsRating">


<h2>numbers invoeren van 0 tot en met 5</h2>
<form method="POST" action="/test/<%= house.id %>" class="score_field_numbers__form_inputfields">

    <!--                inputfields niet aanpassen vanwege de client side javascript-->


    <label for="algemeen" class="form_inputfields__label-inputfield"><span>algemeen:</span>
        <input class="input_numbers" type="number" id="algemeen" name="algemeenNumber" value=""
               placeholder="0">
    </label>
    <label for="keuken" class="form_inputfields__label-inputfield"><span>keuken:</span>
        <input class="input_numbers" type="number" id="keuken" name="keukenNumber" value="" placeholder="0">
    </label>
    <label for="Badkamer" class="form_inputfields__label-inputfield"><span>Badkamer:</span>
        <input class="input_numbers" type="number" id="Badkamer" name="badkamerNumber" value=""
               placeholder="0">
    </label>
    <label for="tuin" class="form_inputfields__label-inputfield"><span>tuin:</span>
        <input class="input_numbers" type="number" id="tuin" name="tuinNumber" value="" placeholder="0 ">
    </label>
    <label for="new" class="form_inputfields__label-inputfield"><span>geeef een neiwue naam op:</span>
        <input class="input_numbers" type="text" id="tuin" name="new" value="" placeholder=" ">
    </label>
    <label for="new_score"
           class="form_inputfields__label-inputfield"><span>geeef een cijfer op van de niewue naam:</span>
        <input class="input_numbers" type="number" id="tuin" name="new_score" value="" placeholder="0">
    </label>
    <button type="submit" class="section-give_notese__buton">Opslaan</button>
    <!--                <div class="loader hide_loader"></div>-->

</form>
<p class="loading-state"></p>
<div>
    <ul>


    </ul>
</div>
<div class=" div_show_score_house__output_number">
    <!--             this ul must be here becuase it has other css than the ul of the partial-->
    <ul class="show_user_score__ul">

    </ul>

</div>

<section class="section-give_notes">
    <h2 class="">Notities</h2>
    <p>Hier kunt u een notitie achterlaten.</p>

    <form method="POST" action="/test/<%= house.id %>" class="section-give_notes__form">
        <input type="hidden" value="<%= house.id %>">
        <label for="bericht" aria-label="laat uw noitite achter">
            <textarea id="note" name="note"></textarea>
        </label>
        <button type="submit" class="section-give_notese__buton">Opslaan</button>

    </form>

</section>

<ul class="show_data">
    <li></li>
</ul>

<h2>notitie</h2>



<h2>Ratings:</h2>
<ul class="score">
    <% for (const key in feedback) { %>
        <li>
            <%= key %>: <%= rating[key] %>
        </li>
    <% } %>
</ul>
</section>
<% feedback.forEach(list => { %>
    <li>
    <%= list %></li>
   <% }) %>

<section>


    <h2>users</h2>
    <ul class="usersList">
        <% users.forEach(users => { %>

            <li class="users">
                <% if (users.avatar) { %>
                    <img src="https://fdnd-agency.directus.app/assets/<%= users.avatar.id %>?width=600&height=400&fit=cover"
                         alt="House Image" width="<%= users.width %>"
                         height="<%= users.height %>" class="users__avatars">

                <% } else { %>
                    <p>er is geen user avatar</p>
                <% } %>
                <span class="username"><%= users.name %></span>
            </li>

        <% }) %>

    </ul>
</section>
